.button-row {
  display: flex;
  justify-content: space-around;

  margin-top: 3vh;
  margin-bottom: 2vh;
}

.button__front {
  display: block;
  font-size: clamp(2rem, 10vw, 4rem);
  padding: 3vmax;
  border-radius: 1rem;
  background-color: hsl(76, 57%, 91%);
  transform: translateY(-8px) translateX(-8px);
}

.button__back {
  background-color: hsl(76, 10%, 25%);
  border-radius: 1rem;
  outline-offset: 6px;
  border: 0;
}

.button__front--selected {
  transform: translateY(-2px) translateX(-2px);
}

.buttontext {
  border-bottom: 0.5vh solid red;
}

.button__front--selected .buttontext {
  border-bottom: 0.5vh solid greenyellow;
}
