*,
*::after,
*::before {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

:root {
  --padding-m: 6vmin 1rem;
  --card-border-color: hsl(0, 0%, 0%);
}

body {
  min-width: 385px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 3vw, 2rem);

  background: url("../images/jeshoots-com-7VOyZ0-iO0o-unsplash.jpg") no-repeat
    center center fixed;
  background-size: cover;
}

.card {
  padding: 1rem;
  width: 100%;
  background: #b8d8d8;
}

.card .content {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: clamp(2rem, 5vw, 4rem);
}

.card + .card {
  margin-top: 1rem;
}

.wish {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.person {
  margin-bottom: 0.5rem;
}

.description {
  flex: 1 1 100%;
}

.item {
  flex: 1 1 100%;
}

.wish + .wish {
  margin-top: 1rem;
}

header {
  /* background: hsl(264, 100%, 51%);B8D8D8 */
  background: #4f6367;
  color: hsl(0, 0%, 100%);

  padding: var(--padding-m);

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 572px) {
  .wish {
    flex-direction: column;
  }
}
